<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Personal Deary - Error</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link href='{{ url_for("static", filename="mystyle.css") }}' rel="stylesheet">

    <style>
        .error-container {
            margin-top: 50px;
            text-align: center;
        }

        .suggested-words {
            margin-top: 20px;
        }

        .suggested-word {
            margin-right: 10px;
        }
    </style>
</head>

<body>
    <div class="wrap">
        <div class="banner" onclick="window.location.href='/';"></div>
    <div class="container">
        <div class="error-container">
            <h1>Oops! We didn't find the word you were looking for.</h1>
            <p>Please double check the words you entered or try one of the following words:</p>

            <div class="suggested-words">
                {% for suggested_word in suggested_words %}
                <a class="btn btn-primary suggested-word" href="/detail/{{ suggested_word }}">{{ suggested_word }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>
